[Unit]
Description=Gunicorn instance to serve bobweb
After=network.target

[Service]
User=user
Group=www-data
WorkingDirectory=/home/user/bob/
Environment="PATH=/home/user/bob/env/bin"
ExecStart=/home/user/bob/env/bin/gunicorn --workers 3 --bind unix:bobweb.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
